/* 
    Created on : Nov 30, 2016, 6:00:57 PM
    Author     : Melcher
*/
body { 
	margin: 60px; 
}

.modal-open[style] {		
	padding-right: 0px !important;		
}	

.clickable-row {
	cursor: pointer;
}

td a {
	text-decoration: none !important;
}


.huge { 
	font-size: 40px; 
}
.huge > small {
	font-size: 18px;
}

/* Additional non-bootstrap panel colors */
.panel-grey {
  border-color: #dedede;
}
.panel-grey > .panel-heading {
  border-color: #dedede;
  background-color: #dedede;
}
.panel-grey > a {
  color: #888888;
}
.panel-grey > a:hover {
  color: #9e9d9d;
}

.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.panel-purple {
  border-color: #6a0b94;
}
.panel-purple > .panel-heading {
  border-color: #6a0b94;
  color: white;
  background-color: #6a0b94;
}
.panel-purple > a {
  color: #6a0b94;
}
.panel-purple > a:hover {
  color: #a430d8;
}



